{
  "openapi": "3.0.0",
  "info": {
    "title": "API",
    "version": "1.0.0",
    "description": "RestFul API"
  },
  "servers": [
    {
      "url": "https://kk-naidu-creative-works.tk/{basePath}",
      "description": "RestFul API",
      "variables": {
        "port": {
          "enum": ["3000", "3004", "3001"],
          "default": "3000"
        },
        "basePath": {
          "default": "api/v1"
        }
      }
    },
    {
      "url": "http://localhost:{port}/{basePath}",
      "description": "RestFul API",
      "variables": {
        "port": {
          "enum": ["3000", "3004", "3001"],
          "default": "3004"
        },
        "basePath": {
          "default": "api/v1"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "wallet",
      "description": "user wallet"
    },
    {
      "name": "offer",
      "description": "offers"
    },
    {
      "name": "User",
      "description": "User"
    },
    {
      "name": "Payment Method",
      "description": "Payment Methods"
    },
    {
      "name": "Transaction",
      "description": "Transaction"
    },
    {
      "name": "Currency",
      "description": "Currency"
    },
    {
      "name": "Trade",
      "description": "Trade"
    },
    {
      "name": "Trade Chat",
      "description": "Trade Chat"
    },
    {
      "name": "Affiliate",
      "description": "Affiliate"
    },
    {
      "name": "Feedback",
      "description": "Feedback"
    },
    {
      "name": "Notifications",
      "description": "Notifications"
    }
  ],
  "schemes": ["http", "https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/wallet/balance": {
      "post": {
        "tags": ["wallet"],
        "description": "Get wallet balance",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "wallet balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number"
                    },
                    "incoming_amount": {
                      "type": "number"
                    },
                    "crypto_currency_code": {
                      "type": "string"
                    },
                    "balance_escrow": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "balance": 0,
                  "incoming_amount": 0,
                  "crypto_currency_code": "btc",
                  "balance_escrow": 0
                }
              }
            }
          }
        }
      }
    },
    "/wallet/new-address": {
      "post": {
        "tags": ["wallet"],
        "description": "Generate new bitcoin address",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Generate new bitcoin address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "address": "1FTHJGWERYFGHYUIOLKMGYUJF"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/list-addresses": {
      "post": {
        "tags": ["wallet"],
        "description": "Fetch list of your addresses",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch list of your addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "addresses": {
                      "type": "array"
                    },
                    "crypto_currency_code": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "address": [
                    "1FTHJGWERYFGHYUIOLKMGYUJF",
                    "GTYHNJUASXCBTYHJKLOP"
                  ],
                  "crypto_currency_code": "btc"
                }
              }
            }
          }
        }
      }
    },
    "/offer/create": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/update": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/update-price": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/delete": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/list": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/turn-on": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/turn-off": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/price": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/prices": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/all": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/activate": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/deactivate": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/offer/get": {
      "post": {
        "tags": ["offer"]
      }
    },
    "/payment-method/list": {
      "post": {
        "tags": ["Payment Method"]
      }
    },
    "/payment-method/fee": {
      "post": {
        "tags": ["Payment Method"]
      }
    },
    "/transactions/all": {
      "post": {
        "tags": ["Transaction"]
      }
    },
    "/currency/rates": {
      "post": {
        "tags": ["Currency"]
      }
    },
    "/currency/btc": {
      "post": {
        "tags": ["Currency"]
      }
    },
    "/trade/get": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/start": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/list": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/locations": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/paid": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/cancel": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/reopen": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/release": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/dispute": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/completed": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/trade/fund": {
      "post": {
        "tags": ["Trade"]
      }
    },
    "/user/info": {
      "post": {
        "tags": ["User"],
        "description":"User Info",
        "produces": ["application/json"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody":{
            "content": {
                "application/json":{
                    "schema":{
                        "$ref": "#/components/user/info"
                    }
                }
            }
        },
        "responses": {
          "200": {
            "description": "User Info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "feedback_positive": {
                      "type": "number"
                    },
                    "feedback_negative": {
                      "type": "string"
                    },
                    "total_partners": {
                      "type": "number"
                    },
                    "total_trades": {
                      "type": "number"
                    },
                    "trusted_by": {
                      "type": "number"
                    },
                    "blocked_by": {
                      "type": "number"
                    },
                    "joined": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "username": "",
                  "feedback_positive": 0,
                  "feedback_negative": 0,
                  "total_partners": 0
                }
              }
            }
          }
        }
      }
    },
    "/user/trust": {
      "post": {
        "tags": ["User"]
      }
    },
    "/user/untrust": {
      "post": {
        "tags": ["User"]
      }
    },
    "/user/block": {
      "post": {
        "tags": ["User"]
      }
    },
    "/user/unblock": {
      "post": {
        "tags": ["User"]
      }
    },
    "/user/touch": {
      "post": {
        "tags": ["User"]
      }
    },
    "/user/me": {
      "post": {
        "tags": ["User"]
      }
    },
    "/affiliate/transactions": {
      "post": {
        "tags": ["Affiliate"]
      }
    },
    "/feedback/give": {
      "post": {
        "tags": ["Feedback"]
      }
    },
    "/feedback/reply": {
      "post": {
        "tags": ["Feedback"]
      }
    },
    "/notifications/last": {
      "post": {
        "tags": ["Notifications"]
      }
    },
    "/notifications/unread-count": {
      "post": {
        "tags": ["Notifications"]
      }
    },
    "/notifications/unread": {
      "post": {
        "tags": ["Notifications"]
      }
    },
    "/notifications/mark-read": {
      "post": {
        "tags": ["Notifications"]
      }
    },
    "/trade-chat/latest": {
      "post": {
        "tags": ["Trade Chat"]
      }
    },
    "/trade-chat/get": {
      "post": {
        "tags": ["Trade Chat"]
      }
    },
    "/trade-chat/post": {
      "post": {
        "tags": ["Trade Chat"]
      }
    },
    "/trade-chat/image": {
      "post": {
        "tags": ["Trade Chat"]
      }
    },
    "/trade-chat/image/add": {
      "post": {
        "tags": ["Trade Chat"]
      }
    }
  },
  "components": {
    "wallet": {
      "properties": {}
    },
    "user": {
        "info":{
            "properties": {
                "username":{
                    "type":"string"
                }
            }
        }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
